.seat {
  margin: 10%;
  height: 40px;
  max-width: 40px;
  cursor: pointer;
}
.white {
  background-color: white;
}
.yellow {
  background-color: yellow;
}
.disabled {
  background-color: lightcoral;
  cursor: not-allowed;
  pointer-events: none;
}
